<ion-view view-title="Reservas" >
 <ion-header-bar class="bar bar-positive">
    <button class="button button-clear button-primary" ng-click="$ionicGoBack()"><i class = "ion-chevron-left"></i></button>
     <h1 class="title">Cadastro Usuario </h1>
   
    </ion-header-bar>
    <form ng-submit="submit(cadastre)" ng-controller ="CadastreCtrl">
	<ion-content>

		<div class="list">
			<label class="item item-input">
				<input type="text" name ='name' placeholder="Nome" />
			</label>


			<label class="item item-input">
				<input type="text" name ='email'  placeholder="Email" />
			</label>

			<label class="item item-input">
				<input type="text" name ='phone'  placeholder="Telefone" ng-model="cadastre.phone"/>
			</label>

			{{list}}
		</div>
	</div>
	

</ion-content>
<div class="bar bar-footer bar-positive"">
		<input type="submit" name="Salvar">
	<div>
	</form>
<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-positive">
     <h1 class="title">Parabéns </h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Ok</button>
   
    </ion-header-bar>
    <ion-content>
    <br/>
    <br/>

      <h1 class="title">Dados Salvos com Sucesso </h1>
    </ion-content>
  </ion-modal-view>
</script>
</ion-view>

