<ion-view view-title="Reservas" >
	<ion-content ng-controller ="ReserveController">
		<div class= 'info-reserve'>
			<h3>{{name}}</h3>	
			<i class = 'ion-ios-home-outline'></i>
			{{address}}<br/> 
			<i class = 'ion-ios-location-outline'></i>		
			{{phone}} 		
		</div>	
		<form name ="reserveForm" class="list">
			
			<label ng-class= "{'red-border-botton':!reserveForm.date.$pristine && reserveForm.date.$invalid}" class="item item-input">
			 <div class="input-label">data</div>
				<input  type="date" name ='date' id='date' placeholder="Data" ng-required = "true" ng-model="date"/>
			</label>
			<label ng-class= "{'red-border-botton':!reserveForm.time.$pristine && reserveForm.time.$invalid}"  class="item item-input">
				 <div class="input-label">hora</div>
				<input  type="time" name ='time' id='time' placeholder="hora" ng-required = "true" ng-model="time"/>
			</label>

 		<label class="item item-input item-select" >
 		   <div class="input-label">
 		     Proficional
 		   </div>
 		   <select name="collaborator_id" ng-model="collaborator_id">
				<option>Pedrinho - CAB</option>
				<option>Maria - CAB</option>
				<option>Patric - MANI</option>
				<option>Paola - MASS</option>
				<option>Paola - DEP</option>
		 	</select>
 		 </label>
		</div>
	</form>
</ion-content>
	<div class="bar bar-footer">
	      <button ng-click = "submit(login)"  ng-disabled="reserveForm.$invalid" class="button button-block button-positive" >Ok</button>	
	</div>      
</ion-view>

