/* Empty. Add your own CSS if you like */



.form-login{
	margin-top:0px;
	padding: 10px;
}


.logo{
	margin-top: 20%;
	margin-left: 20%;
}

.info-reserve{
	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: 5%;
	color:#616161;
	
}

.info-reserve h3 {
	color: #387ef5;
	font-weight: bold;
}


.link{
	color:#387ef5;
}